version: "3.8"

services:
  rate_limiter:
    build:
      context: .
      dockerfile: docker/rate_limiter.Dockerfile
    container_name: rate_limiter
    hostname: rate_limiter
    ports:
      - "${SERVER_PORT:-8000}:8000"
    env_file:
      - .env
    networks:
      - my-net
    depends_on:
      redis:
        condition: service_healthy
  redis:
    image: redis:alpine
    hostname: redis
    container_name: redis
    restart: on-failure
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - my-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 5s
      retries: 5
      interval: 5s
      start_period: 10s
  nginx:
    build:
      context: .
      dockerfile: docker/nginx.Dockerfile
    container_name: nginx
    hostname: nginx
    ports:
      - "${NGINX_PORT:-80}:80"
    depends_on:
      - rate_limiter
    networks:
      - my-net

volumes:
  redis_data:
  cache:
    driver: local

networks:
  my-net:
    driver: bridge
